

        .input-container {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 30px;
        }

        input:focus {
            outline: none !important;
        }

        input {
            border: none;
            width: 80%;

        }

        button {
            background-image: linear-gradient(dodgerblue, black);
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 30px;
        }

        .icon {
            color: dodgerblue;
        }

        button:hover {
            opacity: 0.8;
        }

        .row {
            background-color: white;
            border-radius: 20px;
            padding: 50px;
            margin-top: 40px;
            border-top-left-radius:100px;
            border-bottom-left-radius: 100px;
        }
  